Options +FollowSymLinks -Indexes
RewriteEngine on
ErrorDocument 404 /404.php
RewriteRule ^$ /communities.php [L,NC,QSA]
RewriteRule ^communities$ /communities.php [L,NC,QSA]
RewriteRule ^communities\/favorites$ /communities-showfavorites.php [L,NC,QSA]
RewriteRule ^titles\/search$ /titles-search.php [L,NC,QSA]
RewriteRule ^titles\/([0-9_-]+)$ /titles.php?title_id=$1 [L,NC,QSA]
RewriteRule ^titles\/([A-Za-z0-9_-]+)\/([A-Za-z0-9_-]+)$ /titles.php?title_id=$1&community_id=$2 [L,NC,QSA]
RewriteRule ^titles\/([A-Za-z0-9_-]+)\/([A-Za-z0-9_-]+)\/new$ /titles.php?title_id=$1&community_id=$2 [L,NC,QSA]
RewriteRule ^titles\/([A-Za-z0-9_-]+)\/([A-Za-z0-9_-]+)\/([A-Za-z0-9_-]+)$ /titles.php?title_id=$1&community_id=$2&mode=$3 [L,NC,QSA]
RewriteRule ^titles\/([A-Za-z0-9_-]+)\/([A-Za-z0-9_-]+)\/favorite.json$ /communities-createfavorite.php?olive_community_id=$2 [L,NC,QSA]
RewriteRule ^titles\/([A-Za-z0-9_-]+)\/([A-Za-z0-9_-]+)\/unfavorite.json$ /communities-createfavorite.php?olive_community_id=$2&delete [L,NC,QSA]
RewriteRule ^act\/([^/'"]+)$ /act.php?pg=$1 [L,NC,QSA]
RewriteRule ^act\/$ /act.php?pg=index [L,NC,QSA]
RewriteRule ^posts$ /post-create.php [L,NC,QSA]
RewriteRule ^users\/@me$ /profile-me.php [L,NC,QSA]
RewriteRule ^users$ /user-search.php [L,NC,QSA]
RewriteRule ^check_update.json$ /check_update.php [L,NC,QSA]
RewriteRule ^news\/my_news$ /news.php [L,NC,QSA]
RewriteRule ^activity$ /activity.php [L,NC,QSA]
RewriteRule ^my_menu$ /my_menu.php [L,NC,QSA]
RewriteRule ^identified_user_posts$ /identified_user_posts.php [L,NC,QSA]
RewriteRule ^settings\/profile_post.unset.json$ /profile-post-unset.php [L,NC,QSA]
RewriteRule ^settings\/profile$ /profile_settings.php [L,NC,QSA]
RewriteRule ^settings\/account /account_settings.php [L,NC,QSA]

RewriteRule ^posts\/([A-Za-z0-9-_]+)$ /posts.php?id=$1 [L,NC,QSA]
RewriteRule ^posts\/([A-Za-z0-9-_]+)\/empathies.delete$ /posts.php?id=$1&mode=empathies_delete [L,NC,QSA]
RewriteRule ^posts\/([A-Za-z0-9-_]+)\/([A-Za-z0-9-_]+)$ /posts.php?id=$1&mode=$2 [L,NC,QSA]
RewriteRule ^posts\/([A-Za-z0-9-_]+)\.([A-Za-z0-9-_]+)$ /posts.php?id=$1&mode=$2 [L,NC,QSA]
RewriteRule ^posts\/([A-Za-z0-9-_]+)\/screenshot.set_profile_post$ /posts.php?id=$1&mode=screenshot.set_profile_post [L,NC,QSA]
RewriteRule ^replies\/([A-Za-z0-9-_]+)$ /replies.php?id=$1 [L,NC,QSA]
RewriteRule ^replies\/([A-Za-z0-9-_]+)\/([A-Za-z0-9-_]+)$ /replies.php?id=$1&mode=$2 [L,NC,QSA]
RewriteRule ^replies\/([A-Za-z0-9-_]+)\.([A-Za-z0-9-_]+)$ /replies.php?id=$1&mode=$2 [L,NC,QSA]
RewriteRule ^replies\/([A-Za-z0-9-_]+)\/empathies.delete$ /replies.php?id=$1&mode=empathies_delete [L,NC,QSA]
RewriteRule ^users\/([^/'"]+)/check_can_post.json$ /generate_success.json [L,NC,QSA]
RewriteRule ^users\/([^\/]+).unfollow.json$ /users.php?user_id=$1&mode=unfollow [L,NC,QSA]
RewriteRule ^users\/([^\/]+).follow.json$ /users.php?user_id=$1&mode=follow [L,NC,QSA]
RewriteRule ^users\/([^\/]+)$ /users.php?user_id=$1 [L,NC,QSA]
RewriteRule ^users\/([^\/]+)\/([^\/]+)$ /users.php?user_id=$1&mode=$2 [L,NC,QSA]
