# stolen from french https://github.com/Rix565
Options +FollowSymLinks -Indexes
RewriteEngine on
ErrorDocument 503 error/503.html
ErrorDocument 502 error/502.html
ErrorDocument 500 error/500.html
ErrorDocument 404 /404.php
RewriteRule ^$ /root.php [L,NC,QSA]
RewriteRule ^communities$ /communities.php [L,NC,QSA]
RewriteRule ^communities\/favorites$ /communities-showfavorites.php [L,NC,QSA]
RewriteRule ^communities\/categories$ /communities_categories.php [L,NC,QSA]
RewriteRule ^my_menu$ /my_menu.php [L,NC,QSA]
RewriteRule ^news\/my_news$ /news.php [L,NC,QSA]
RewriteRule ^news\/friend_requests$ /friendrequests.php [L,NC,QSA]
RewriteRule ^posts$ /post-create.php [L,NC,QSA]
RewriteRule ^posts\/([^\/]+)$ /posts.php?id=$1 [L,NC,QSA]
RewriteRule ^posts\/([^\/]+)\/empathies.delete$ /posts.php?id=$1&mode=empathies_delete [L,NC,QSA]
RewriteRule ^posts\/([^\/]+)\/([^\/]+)$ /posts.php?id=$1&mode=$2 [L,NC,QSA]
RewriteRule ^posts\/([^\/]+).([^\/]+)$ /posts.php?id=$1&mode=$2 [L,NC,QSA]
RewriteRule ^replies\/([^\/]+)$ /replies.php?id=$1 [L,NC,QSA]
RewriteRule ^replies\/([^\/]+)\/empathies.delete$ /replies.php?id=$1&mode=empathies_delete [L,NC,QSA]
RewriteRule ^replies\/([^\/]+)\/([^\/]+)$ /replies.php?id=$1&mode=$2 [L,NC,QSA]
RewriteRule ^replies\/([^\/]+).([^\/]+)$ /replies.php?id=$1&mode=$2 [L,NC,QSA]
RewriteRule ^users\/friend_request.accept.json$ /friend_request.php [L,NC,QSA]
RewriteRule ^users\/friend_request.cancel.json$ /friend_request.php?cancel [L,NC,QSA]
RewriteRule ^users\/friend_request.delete.json$ /friend_request.php?delete [L,NC,QSA]
RewriteRule ^users\/breakup.json$ /friend_request.php?breakup [L,NC,QSA]
RewriteRule ^my\/latest_following_related_profile_posts$ /my/follow-rel-posts.php [L,NC,QSA]
RewriteRule ^my_blacklist$ /my_blacklist.php [L,NC,QSA]
RewriteRule ^settings\/played_title_ids$ /my/played.php [L,NC,QSA]
RewriteRule ^settings\/tutorial_post$ /tutorial_post.php [L,NC,QSA]
RewriteRule ^friend_messages\/([^\/]+)$ /messages.php?user_id=$1 [L,NC,QSA]
RewriteRule ^friend_messages$ /messages.php [L,NC,QSA]
RewriteRule ^identified_user_posts$ /identified_user_posts.php [L,NC,QSA]
RewriteRule ^admin\/titles_create$ /create_title.php [L,NC,QSA]
RewriteRule ^admin\/communities_create$ /create_community.php [L,NC,QSA]
RewriteRule ^settings\/profile$ /profile_settings.php [L,NC,QSA]
RewriteRule ^settings\/account$ /account_settings.php [L,NC,QSA]
RewriteRule ^warning\/deleted_account$ /content/warnings/act_deleted.php [L,NC,QSA]
RewriteRule ^warning\/readonly$ /content/warnings/readonly.php [L,NC,QSA]
RewriteRule ^check_update.json$ /check_update.php [L,NC,QSA]
RewriteRule ^users$ /user-search.php [L,NC,QSA]
RewriteRule ^users\/@me$ /profile-me.php [L,NC,QSA]
RewriteRule ^users\/([^\/]+).unfollow.json /users.php?user_id=$1&mode=unfollow [L,NC,QSA]
RewriteRule ^users\/([^\/]+).follow.json /users.php?user_id=$1&mode=follow [L,NC,QSA]
RewriteRule ^users\/([^\/]+)$ /users.php?user_id=$1 [L,NC,QSA]
RewriteRule ^users\/([^\/]+)\/blacklist.create.json$ /blacklist.php?user_id=$1 [L,NC,QSA]
RewriteRule ^users\/([^\/]+)\/blacklist.delete.json$ /blacklist.php?un&user_id=$1 [L,NC,QSA]
RewriteRule ^users\/([^\/]+)\/friend_request.create.json$ /friend_request.php?create&user_id=$1 [L,NC,QSA]
RewriteRule ^users\/([^\/]+)\/([^\/]+)$ /users.php?user_id=$1&mode=$2 [L,NC,QSA]
RewriteRule ^users\/([^\/]+)\/check_can_post.json$ /generate_success.json [L,NC,QSA]
RewriteRule ^theme-set$ /theme-set.php [L,NC,QSA]
RewriteRule ^guest_menu$ /guest_menu.php [L,NC,QSA]
RewriteRule ^act\/([^\/]+)$ /act.php?pg=$1 [L,NC,QSA]
RewriteRule ^act\/ /act.php?pg=index [L,NC,QSA]
RewriteRule ^titles\/([0-9]+)$ /titles.php?title_id=$1 [L,NC,QSA]
RewriteRule ^titles\/([0-9]+)\/([0-9]+)$ /titles.php?title_id=$1&community_id=$2 [L,NC,QSA]
RewriteRule ^titles\/([0-9]+)\/([0-9]+)$ /titles.php?title_id=$1&community_id=$2 [L,NC,QSA]
RewriteRule ^titles\/([0-9]+)\/([0-9]+)\/new$ /titles.php?title_id=$1&community_id=$2 [L,NC,QSA]
RewriteRule ^titles\/([0-9]+)\/([0-9]+)\/hot$ /titles.php?title_id=$1&community_id=$2&mode=hot [L,NC,QSA]
RewriteRule ^titles\/([0-9]+)\/([0-9]+)\/favorite.json$ /communities-createfavorite.php?olive_community_id=$2 [L,NC,QSA]
RewriteRule ^titles\/([0-9]+)/([0-9]+)\/unfavorite.json$ /communities-createfavorite.php?olive_community_id=$2&delete [L,NC,QSA]
RewriteRule ^settings\/titles\/([0-9]+)$ /title_settings.php?title_id=$1 [L,NC,QSA]
RewriteRule ^titles\/show$ /redirect.php [L,NC,QSA]
RewriteRule ^special\/redesign_announcement$ /content/special/redesign.php [L,NC,QSA]
